##### Import the relevant Libraries

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LassoCV
from sklearn.linear_model import RidgeCV

from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error

In [35]:
data = pd.read_csv('/Users/bond/PycharmProjects/Predicting-Player-Salaries/data/Hitters.csv')
df_hitters = data.copy()

In [36]:
df_hitters

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,N,E,325,9,3,700.0,N
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,A,E,313,381,20,875.0,A
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,A,W,37,113,7,385.0,A
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,A,E,1314,131,12,960.0,A
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,A,W,408,4,3,1000.0,A

In [37]:
# Categorical Variables
print('The League Types are: ', df_hitters['League'].unique())
print('The division Types are: ', df_hitters['Division'].unique())
print('The new league options are: ', df_hitters['NewLeague'].unique())

The League Types are:  ['A' 'N']
The division Types are:  ['E' 'W']
The new league options are:  ['A' 'N']

In [38]:
df_hitters_num = pd.get_dummies(df_hitters, columns=['League', 'Division', 'NewLeague'], drop_first=True)
df_hitters_num

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary,League_N,Division_W,NewLeague_N
0,293,66,1,30,29,14,1,293,66,1,30,29,14,446,33,20,NaN,0,0,0
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,632,43,10,475.0,1,1,1
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,880,82,14,480.0,0,1,0
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,200,11,3,500.0,1,0,1
4,321,87,10,39,42,30,2,396,101,12,48,46,33,805,40,4,91.5,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,497,127,7,65,48,37,5,2703,806,32,379,311,138,325,9,3,700.0,1,0,1
318,492,136,5,76,50,94,12,5511,1511,39,897,451,875,313,381,20,875.0,0,0,0
319,475,126,3,61,43,52,6,1700,433,7,217,93,146,37,113,7,385.0,0,1,0
320,573,144,9,85,60,78,8,3198,857,97,470,420,332,1314,131,12,960.0,0,0,0
321,631,170,9,77,44,31,11,4908,1457,30,775,357,249,408,4,3,1000.0,0,1,0

In [39]:
df_hitters_num.isnull().sum()

AtBat           0
Hits            0
HmRun           0
Runs            0
RBI             0
Walks           0
Years           0
CAtBat          0
CHits           0
CHmRun          0
CRuns           0
CRBI            0
CWalks          0
PutOuts         0
Assists         0
Errors          0
Salary         59
League_N        0
Division_W      0
NewLeague_N     0
dtype: int64

In [40]:
df_hitters_num_no_null = df_hitters_num.dropna()
df_hitters_num_no_null.isna().sum()

AtBat          0
Hits           0
HmRun          0
Runs           0
RBI            0
Walks          0
Years          0
CAtBat         0
CHits          0
CHmRun         0
CRuns          0
CRBI           0
CWalks         0
PutOuts        0
Assists        0
Errors         0
Salary         0
League_N       0
Division_W     0
NewLeague_N    0
dtype: int64

#### Declare the dependent and Independent variables

In [41]:
X = df_hitters_num_no_null.drop('Salary', axis=1)
y = df_hitters_num_no_null['Salary']

#### Split the data into train and test sets

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

In [43]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### Perform Linear Regression

In [44]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [45]:
print("Linear Regression Coefficients are: ", lin_reg.coef_)
print()
print("Linear Regression y-intercept is: ", lin_reg.intercept_)

Linear Regression Coefficients are:  [-205.58645789  395.05565574   89.83392893 -174.8599794  -115.06985424
  173.60350214  -10.56691628 -555.16464857  152.59701271   69.52782305
  537.58546405  278.87679837 -271.53970319   75.51504364   28.46570102
  -25.02896584   24.51588697  -36.02075257  -21.20420211]

Linear Regression y-intercept is:  560.7115294117648

In [46]:
lin_reg_y_pred = lin_reg.predict(X_test)
lin_reg_y_pred

array([1076.40372081,  194.46359798,  208.06762021,  128.35238918,
       1150.00415585,  330.4229848 ,  293.35692767,  374.86435153,
        564.32354921,  503.42424916,  287.14506696,  634.65545388,
       1256.71578437,  162.86177539,  270.4724371 ,  627.03634363,
       1098.78262703,  168.72823705,  635.59519342,  538.2358982 ,
        997.44726273,  453.76638183,  284.64083511, 1020.38051099,
        276.04851337,  421.28103183,  146.57210339,  325.00388094,
        532.0565091 ,  243.25119615,  801.37721717,  101.50348498,
        467.74315444,  548.74006459,  317.74722813,  662.06115499,
        306.60919967,  520.18141935,  584.08586434, 1776.06709074,
        206.74897271,  396.77817827,  150.60653679,  837.80543541,
         18.9969577 , 1169.44216946,  476.86297787,  137.2993431 ,
        895.94365231,  755.83780802,  700.77613482,  412.7776676 ,
          5.93030018,  503.83096087,  586.35600881,  387.73753157,
        273.98893564,  394.6049807 ,  299.42870718,  517.21067711,
        224.81122586,  624.02652078,  314.02753944,  627.46884392,
        323.40239277,  176.81740319,  648.45948415,  197.94586445,
        369.15619763,  133.03927018,   74.21325201,  287.26180047,
        320.27910639,  169.9989562 ,  294.5540635 ,  648.75088981,
        403.50931699,  440.31537628,   94.43832675,  260.06915025,
        678.6776123 ,  421.45357922,   71.69565333,  371.33189803,
        271.71705811,  901.6421229 ,  170.93003721,  482.23403399,
        306.63585923, 1392.9865836 , 1004.97076174,  396.14079399,
        172.84919167])

In [47]:
# Compare predictions with actual outputs
lin_comp = pd.DataFrame({'Predicted': lin_reg_y_pred, 'Actual': y_test})
lin_comp

       Predicted    Actual
178  1076.403721  1000.000
296   194.463598   286.667
92    208.067620    70.000
261   128.352389   190.000
120  1150.004156   733.333
..           ...       ...
307   306.635859   277.500
86   1392.986584  1041.667
142  1004.970762  1300.000
280   396.140794   105.000
255   172.849192   250.000

[93 rows x 2 columns]

In [48]:
print("Linear Regression Model RMSE is: ", math.sqrt(mean_squared_error(y_test, lin_reg_y_pred)))
print("Linear Regression Model Training Score: ", lin_reg.score(X_train, y_train))
print("Linear Regression Model Testing Score: ", lin_reg.score(X_test, y_test))

Linear Regression Model RMSE is:  381.2159334755361
Linear Regression Model Training Score:  0.64547107588673
Linear Regression Model Testing Score:  0.25141497395552603

#### Perform Ridge Regression

In [49]:
CV = RepeatedKFold(n_splits=5, n_repeats=3, random_state=1)

In [50]:
ridge = RidgeCV(alphas=np.arange(0.1, 10, 0.1), cv=CV, scoring='neg_mean_squared_error')

In [51]:
ridge.fit(X_train, y_train)
ridge_reg_y_pred = ridge.predict(X_test)

print("Ridge Tuning Parameter is: ", (ridge.alpha_))
print()
print("Ridge Model Coefficients: ", (ridge.coef_))
print()
print("Ridge Model Intercept: ", (ridge.intercept_))

Ridge Tuning Parameter is:  1.6

Ridge Model Coefficients:  [-178.74112041  311.07904997   39.06823245 -103.20890733  -60.37443499
  150.78472659  -56.44152446 -178.16607357  128.13537455  134.78799763
  265.14077792  136.49756603 -222.27276972   77.41602604   18.82267603
  -30.96207839   27.90721964  -35.8908812   -29.30753972]

Ridge Model Intercept:  560.7115294117647

In [52]:
print("Ridge Regression Model RMSE is: ", math.sqrt(mean_squared_error(y_test, ridge_reg_y_pred)))
print("Ridge Regression Model Training Score: ", ridge.score(X_train, y_train))
print("Ridge Regression Model Testing Score: ", ridge.score(X_test, y_test))

Ridge Regression Model RMSE is:  376.78639075240716
Ridge Regression Model Training Score:  0.6359493752558608
Ridge Regression Model Testing Score:  0.2687102890716988

### Perform Lasso Regression

In [53]:
lasso = LassoCV(alphas=np.arange(0.1,10,0.1), cv=CV, tol=1)

In [54]:
lasso.fit(X_train, y_train)
lasso_reg_y_predict = lasso.predict(X_test)

print("Lasso Tuning Parameter is: ", (lasso.alpha_))
print()
print("Lasso Model Coefficients: ", (lasso.coef_))
print()
print("Lasso Model Intercept: ", (lasso.intercept_))

Lasso Tuning Parameter is:  0.30000000000000004

Lasso Model Coefficients:  [134.27849348  48.68809966  25.85560786 -29.83492291  16.69553639
  71.61918683 142.31889864  56.19006024  20.80462501  59.91531326
 -37.27605712  11.2523882  -46.62253601  64.6007483  -42.51241609
 -25.71665384  33.16461687 -27.92254167 -28.9108242 ]

Lasso Model Intercept:  560.7115294117647

In [55]:
print("Lasso Regression Model RMSE is: ", math.sqrt(mean_squared_error(y_test, lasso_reg_y_predict)))
print("Lasso Regression Model Training Score: ", lasso.score(X_train, y_train))
print("Lasso Regression Model Testing Score: ", lasso.score(X_test, y_test))

Lasso Regression Model RMSE is:  401.3585629091625
Lasso Regression Model Training Score:  0.49682638504562004
Lasso Regression Model Testing Score:  0.17021780252903418

#### Compare the Scores

In [56]:
print("Linear Regression Model Training Score: ", lin_reg.score(X_train, y_train))
print("Linear Regression Model Testing Score: ", lin_reg.score(X_test, y_test))
print()
print("Ridge Regression Model Training Score: ", ridge.score(X_train, y_train))
print("Ridge Regression Model Testing Score: ", ridge.score(X_test, y_test))
print()
print("Lasso Regression Model Training Score: ", lasso.score(X_train, y_train))
print("Lasso Regression Model Testing Score: ", lasso.score(X_test, y_test))

Linear Regression Model Training Score:  0.64547107588673
Linear Regression Model Testing Score:  0.25141497395552603

Ridge Regression Model Training Score:  0.6359493752558608
Ridge Regression Model Testing Score:  0.2687102890716988

Lasso Regression Model Training Score:  0.49682638504562004
Lasso Regression Model Testing Score:  0.17021780252903418

In [57]:
#### Compare the root mean squared error
print("Linear Regression Model RMSE is: ", math.sqrt(mean_squared_error(y_test, lin_reg_y_pred)))
print()
print("Lasso Regression Model RMSE is: ", math.sqrt(mean_squared_error(y_test, lasso_reg_y_predict)))
print()
print("Ridge Regression Model RMSE is: ", math.sqrt(mean_squared_error(y_test, ridge_reg_y_pred)))

Linear Regression Model RMSE is:  381.2159334755361

Lasso Regression Model RMSE is:  401.3585629091625

Ridge Regression Model RMSE is:  376.78639075240716

#### Replacing/Predicting the Missing Values in the Dataframe

In [62]:
df_hitters_nan = df_hitters_num[df_hitters_num['Salary'].isnull()]

In [63]:
df_hitters_nan

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary,League_N,Division_W,NewLeague_N
0,293,66,1,30,29,14,1,293,66,1,30,29,14,446,33,20,NaN,0,0,0
15,183,39,3,20,15,11,3,201,42,3,20,16,11,118,0,0,NaN,0,1,0
18,407,104,6,57,43,65,12,5233,1478,100,643,658,653,912,88,9,NaN,0,1,0
22,22,10,1,4,2,1,6,84,26,2,9,9,3,812,84,11,NaN,0,1,0
30,313,84,9,42,30,39,17,6890,1833,224,1033,864,1087,127,221,7,NaN,0,1,0
32,517,141,27,70,87,52,9,3571,994,215,545,652,337,1378,102,8,NaN,1,1,1
36,161,36,0,19,10,17,4,1053,244,3,156,86,107,70,149,12,NaN,0,0,0
38,346,98,5,31,53,30,16,5913,1615,235,784,901,560,0,0,0,NaN,0,0,0
39,241,61,1,34,12,14,1,241,61,1,34,12,14,166,172,10,NaN,1,1,1
41,216,54,0,21,18,15,18,7318,1926,46,796,627,483,103,84,5,NaN,1,1,1
42,200,57,6,23,14,14,9,2516,684,46,371,230,195,69,1,1,NaN,1,1,1
44,194,40,7,19,29,30,11,4183,1069,64,486,493,608,325,22,2,NaN,0,0,0
48,542,140,12,46,75,41,16,7099,2130,235,987,1089,431,697,61,9,NaN,0,0,0
52,19,7,0,1,2,1,4,41,13,1,3,4,4,0,0,0,NaN,0,0,0
57,235,61,3,24,39,21,14,3926,1029,35,441,401,333,425,43,4,NaN,0,0,0
64,24,3,0,1,0,2,3,159,28,0,20,12,9,80,4,0,NaN,0,1,0
66,191,37,4,12,17,14,4,773,163,16,61,74,52,391,38,8,NaN,1,0,1
69,419,113,1,44,27,44,12,4484,1231,32,612,344,422,211,2,1,NaN,0,0,0
71,138,31,8,18,21,38,3,244,53,12,33,32,55,244,21,4,NaN,1,0,1
77,195,55,5,24,33,30,8,1313,338,25,144,149,153,83,2,1,NaN,1,0,1
80,561,118,35,70,94,33,16,6677,1575,442,901,1210,608,463,32,8,NaN,0,1,0
83,227,46,7,23,20,12,5,1325,324,44,156,158,67,92,2,2,NaN,0,1,0
94,278,69,3,24,21,29,8,2079,565,32,258,192,162,142,210,10,NaN,1,1,1
97,277,71,2,27,29,14,15,5952,1647,60,753,596,259,360,32,5,NaN,1,1,1
101,524,132,9,69,47,54,2,972,260,14,123,92,90,212,327,20,NaN,0,0,0
103,395,106,16,48,56,35,10,2303,571,86,266,323,248,709,41,7,NaN,0,0,0
104,397,114,23,67,67,53,13,5589,1632,241,906,926,716,244,2,4,NaN,0,0,0
105,210,37,8,15,19,15,6,994,244,36,107,114,53,40,115,15,NaN,0,0,0
106,420,95,23,55,58,37,3,646,139,31,77,77,61,206,10,7,NaN,1,1,1
114,284,64,14,30,42,24,18,7023,1925,348,986,1239,666,96,4,4,NaN,1,0,1
125,315,59,16,45,36,58,13,4677,1051,268,681,782,697,0,0,0,NaN,0,1,0
138,284,69,1,33,18,25,5,1407,361,6,139,98,111,122,140,5,NaN,0,0,1
144,209,45,0,38,19,42,10,3859,916,23,557,279,478,132,205,5,NaN,0,1,0
150,225,61,5,32,26,26,11,1568,408,25,202,185,257,132,9,0,NaN,0,1,0
157,401,100,2,60,19,28,4,876,238,2,126,44,55,193,11,4,NaN,1,0,1
158,336,93,9,35,46,23,15,5779,1610,128,730,741,497,0,0,0,NaN,0,1,0
160,219,47,8,24,26,17,12,1188,286,23,100,125,63,260,58,4,NaN,0,1,0
169,249,69,6,32,19,20,4,702,209,10,97,48,44,103,8,2,NaN,1,0,1
171,212,54,13,28,44,18,2,233,59,13,31,46,20,243,23,5,NaN,0,0,0
173,161,43,4,17,26,22,3,707,179,21,77,99,76,300,12,2,NaN,0,1,0
197,166,34,0,20,13,17,1,166,34,0,20,13,17,64,119,9,NaN,1,0,1
199,508,146,8,80,44,46,9,3148,915,41,571,289,326,245,5,9,NaN,0,1,0
203,243,53,4,18,26,27,4,853,228,23,101,110,76,107,3,3,NaN,1,0,1
208,209,59,6,20,37,27,4,884,209,14,66,106,92,415,35,3,NaN,1,0,1
210,317,88,3,40,32,19,8,2543,715,28,269,270,118,220,16,4,NaN,0,1,0
225,330,76,12,35,41,47,4,1367,326,55,167,198,167,512,30,5,NaN,1,1,1
228,359,84,4,46,27,21,12,4992,1257,37,699,386,387,151,8,5,NaN,1,1,1
235,551,160,23,86,90,87,5,2235,602,75,278,328,273,1224,115,11,NaN,0,1,0
246,462,119,16,49,65,37,7,2131,583,69,244,288,150,866,65,6,NaN,0,0,0
250,33,6,0,2,4,7,1,33,6,0,2,4,7,205,5,4,NaN,0,1,0
253,186,44,7,28,16,11,1,186,44,7,28,16,11,99,3,1,NaN,1,1,1
254,307,80,1,42,36,29,7,2421,656,18,379,198,184,145,2,2,NaN,0,1,0
270,303,84,4,35,32,23,2,312,87,4,39,32,23,179,5,3,NaN,1,1,1
283,16,2,0,1,0,0,2,28,4,0,1,0,0,247,4,8,NaN,0,0,0
292,289,63,7,36,41,44,17,7402,1954,195,1115,919,1153,166,211,7,NaN,0,1,0
298,181,46,1,19,18,17,5,937,238,9,88,95,104,37,98,9,NaN,0,0,0
302,200,51,2,14,29,25,23,9778,2732,379,1272,1652,925,398,29,7,NaN,1,1,1
305,580,194,9,91,62,78,8,3372,1028,48,604,314,469,270,13,6,NaN,1,0,1
316,221,53,2,21,23,22,8,1063,283,15,107,124,106,325,58,6,NaN,1,0,1

In [64]:
X_nan = df_hitters_nan.drop('Salary', axis = 1)
y_nan = df_hitters_nan['Salary']

In [65]:
scaler = StandardScaler()
X_nan = scaler.fit_transform(X_nan)

In [67]:
nan_pred = ridge.predict(X_nan)
nan_pred

array([ 233.1513017 ,  182.32271859,  934.96845957,  286.26742702,
        729.9838443 , 1415.00310853,  275.23150279, 1012.62574129,
        245.35843809,  429.55262957,  457.85949005,  405.46196341,
       1563.60406894,  194.63282405,  477.34892303,  137.28454324,
        327.37393507,  772.21355616,  499.09455968,  430.48524149,
       1147.24075604,  277.46103286,  476.75373594,  710.24863961,
        631.76424642,  743.5589759 , 1226.94629255,  243.85085054,
        370.66051298, 1155.91027101,  774.83389724,  335.78068455,
        356.96942711,  276.29029012,  405.50155656,  704.54141726,
        218.71810642,  445.69525501,  366.85207459,  398.87408862,
        240.73952605,  729.12382843,  429.52910972,  524.0706106 ,
        455.83366195,  648.30898639,  400.6855435 , 1258.01305005,
        873.32755227,  192.1181608 ,  215.95422247,  449.24280285,
        382.24242067,  187.47171611,  613.21149333,  267.46888425,
       1326.86181278, 1228.91342585,  380.58703934])

In [68]:
df_nan_full = df_hitters_nan.copy()
df_nan_full['Salary'] = nan_pred
df_nan_full

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary,League_N,Division_W,NewLeague_N
0,293,66,1,30,29,14,1,293,66,1,30,29,14,446,33,20,233.151302,0,0,0
15,183,39,3,20,15,11,3,201,42,3,20,16,11,118,0,0,182.322719,0,1,0
18,407,104,6,57,43,65,12,5233,1478,100,643,658,653,912,88,9,934.968460,0,1,0
22,22,10,1,4,2,1,6,84,26,2,9,9,3,812,84,11,286.267427,0,1,0
30,313,84,9,42,30,39,17,6890,1833,224,1033,864,1087,127,221,7,729.983844,0,1,0
32,517,141,27,70,87,52,9,3571,994,215,545,652,337,1378,102,8,1415.003109,1,1,1
36,161,36,0,19,10,17,4,1053,244,3,156,86,107,70,149,12,275.231503,0,0,0
38,346,98,5,31,53,30,16,5913,1615,235,784,901,560,0,0,0,1012.625741,0,0,0
39,241,61,1,34,12,14,1,241,61,1,34,12,14,166,172,10,245.358438,1,1,1
41,216,54,0,21,18,15,18,7318,1926,46,796,627,483,103,84,5,429.552630,1,1,1
42,200,57,6,23,14,14,9,2516,684,46,371,230,195,69,1,1,457.859490,1,1,1
44,194,40,7,19,29,30,11,4183,1069,64,486,493,608,325,22,2,405.461963,0,0,0
48,542,140,12,46,75,41,16,7099,2130,235,987,1089,431,697,61,9,1563.604069,0,0,0
52,19,7,0,1,2,1,4,41,13,1,3,4,4,0,0,0,194.632824,0,0,0
57,235,61,3,24,39,21,14,3926,1029,35,441,401,333,425,43,4,477.348923,0,0,0
64,24,3,0,1,0,2,3,159,28,0,20,12,9,80,4,0,137.284543,0,1,0
66,191,37,4,12,17,14,4,773,163,16,61,74,52,391,38,8,327.373935,1,0,1
69,419,113,1,44,27,44,12,4484,1231,32,612,344,422,211,2,1,772.213556,0,0,0
71,138,31,8,18,21,38,3,244,53,12,33,32,55,244,21,4,499.094560,1,0,1
77,195,55,5,24,33,30,8,1313,338,25,144,149,153,83,2,1,430.485241,1,0,1
80,561,118,35,70,94,33,16,6677,1575,442,901,1210,608,463,32,8,1147.240756,0,1,0
83,227,46,7,23,20,12,5,1325,324,44,156,158,67,92,2,2,277.461033,0,1,0
94,278,69,3,24,21,29,8,2079,565,32,258,192,162,142,210,10,476.753736,1,1,1
97,277,71,2,27,29,14,15,5952,1647,60,753,596,259,360,32,5,710.248640,1,1,1
101,524,132,9,69,47,54,2,972,260,14,123,92,90,212,327,20,631.764246,0,0,0
103,395,106,16,48,56,35,10,2303,571,86,266,323,248,709,41,7,743.558976,0,0,0
104,397,114,23,67,67,53,13,5589,1632,241,906,926,716,244,2,4,1226.946293,0,0,0
105,210,37,8,15,19,15,6,994,244,36,107,114,53,40,115,15,243.850851,0,0,0
106,420,95,23,55,58,37,3,646,139,31,77,77,61,206,10,7,370.660513,1,1,1
114,284,64,14,30,42,24,18,7023,1925,348,986,1239,666,96,4,4,1155.910271,1,0,1
125,315,59,16,45,36,58,13,4677,1051,268,681,782,697,0,0,0,774.833897,0,1,0
138,284,69,1,33,18,25,5,1407,361,6,139,98,111,122,140,5,335.780685,0,0,1
144,209,45,0,38,19,42,10,3859,916,23,557,279,478,132,205,5,356.969427,0,1,0
150,225,61,5,32,26,26,11,1568,408,25,202,185,257,132,9,0,276.290290,0,1,0
157,401,100,2,60,19,28,4,876,238,2,126,44,55,193,11,4,405.501557,1,0,1
158,336,93,9,35,46,23,15,5779,1610,128,730,741,497,0,0,0,704.541417,0,1,0
160,219,47,8,24,26,17,12,1188,286,23,100,125,63,260,58,4,218.718106,0,1,0
169,249,69,6,32,19,20,4,702,209,10,97,48,44,103,8,2,445.695255,1,0,1
171,212,54,13,28,44,18,2,233,59,13,31,46,20,243,23,5,366.852075,0,0,0
173,161,43,4,17,26,22,3,707,179,21,77,99,76,300,12,2,398.874089,0,1,0
197,166,34,0,20,13,17,1,166,34,0,20,13,17,64,119,9,240.739526,1,0,1
199,508,146,8,80,44,46,9,3148,915,41,571,289,326,245,5,9,729.123828,0,1,0
203,243,53,4,18,26,27,4,853,228,23,101,110,76,107,3,3,429.529110,1,0,1
208,209,59,6,20,37,27,4,884,209,14,66,106,92,415,35,3,524.070611,1,0,1
210,317,88,3,40,32,19,8,2543,715,28,269,270,118,220,16,4,455.833662,0,1,0
225,330,76,12,35,41,47,4,1367,326,55,167,198,167,512,30,5,648.308986,1,1,1
228,359,84,4,46,27,21,12,4992,1257,37,699,386,387,151,8,5,400.685543,1,1,1
235,551,160,23,86,90,87,5,2235,602,75,278,328,273,1224,115,11,1258.013050,0,1,0
246,462,119,16,49,65,37,7,2131,583,69,244,288,150,866,65,6,873.327552,0,0,0
250,33,6,0,2,4,7,1,33,6,0,2,4,7,205,5,4,192.118161,0,1,0
253,186,44,7,28,16,11,1,186,44,7,28,16,11,99,3,1,215.954222,1,1,1
254,307,80,1,42,36,29,7,2421,656,18,379,198,184,145,2,2,449.242803,0,1,0
270,303,84,4,35,32,23,2,312,87,4,39,32,23,179,5,3,382.242421,1,1,1
283,16,2,0,1,0,0,2,28,4,0,1,0,0,247,4,8,187.471716,0,0,0
292,289,63,7,36,41,44,17,7402,1954,195,1115,919,1153,166,211,7,613.211493,0,1,0
298,181,46,1,19,18,17,5,937,238,9,88,95,104,37,98,9,267.468884,0,0,0
302,200,51,2,14,29,25,23,9778,2732,379,1272,1652,925,398,29,7,1326.861813,1,1,1
305,580,194,9,91,62,78,8,3372,1028,48,604,314,469,270,13,6,1228.913426,1,0,1
316,221,53,2,21,23,22,8,1063,283,15,107,124,106,325,58,6,380.587039,1,0,1